<h1>About</hi>
<p>
	You've just landed on my new website. I learned how to develop this site from scratch using 
	<%= link_to "Ruby on Rails", "http://rubyonrails.org" %>.
	This is the sample application. 
</p>

